# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none
pr: none

variables:
  COMMIT_ID: e1e81264dc1d6362c9c3ee3b7752ad9e035c4a09
  ENDPOINT: build
  RETRY_COUNT: 1

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

parameters:
- name: retry_count
  type: number
  default: 0
- name: tags
  type: object
  default: []

stages:
- stage: Build
  pool:
    vmImage: 'ubuntu-20.04'
  jobs:
  - job: Test1
    variables:
      RETRY_COUNT: 1
    displayName: Test1
    steps:
    - script: |
        echo tags='${{ convertToJson(parameters.tags) }}'
        echo "##vso[task.setvariable variable=triggerBuildId]$BUILD_BUILDID"
        echo "##vso[task.setvariable variable=TestSuite]TestSuite"
      displayName: "Set variables"
    - task: TriggerBuild@4
      inputs:
        definitionIsInCurrentTeamProject: false
        tfsServer: $(System.CollectionUri)
        teamProject: build
        buildDefinition: 'test-completion-trigger'
        queueBuildForUserThatTriggeredBuild: true
        ignoreSslCertificateErrors: false
        useSameSourceVersion: false
        useCustomSourceVersion: false
        useSameBranch: true
        waitForQueuedBuildsToFinish: false
        storeInEnvironmentVariable: true
        authenticationMethod: 'Personal Access Token'
        password: '$(system.accesstoken)'
        enableBuildInQueueCondition: false
        dependentOnSuccessfulBuildCondition: false
        dependentOnFailedBuildCondition: false
        checkbuildsoncurrentbranch: false
        failTaskIfConditionsAreNotFulfilled: false
        buildParameters: 'TestSuite: APP-API,TestVar1:testValue1,testParameter1:testPar1'
        #templateParameters: '{"testParameter1":"testPar1","testParameter2":"[\"testPar1\",\"testPar2\"]"}'
        templateParameters: |
          testParameter1:testPar1,
          testParameter2:{"param1":["value1","value2"]}
    - checkout: self
      retryCountOnTaskFailure: 1
      displayName: "Checkout test-workflow"
    - script: |
        echo Test2
        export -p
        make -f Makefile.test all
        exit 1
      #retryCountOnTaskFailure: $(RETRY_COUNT)
      displayName: "Test2"
